<div class="js-footer-legal footer-legal">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-12 text-center font-small mb-3">
    <div class="d-inline-block mr-md-2">
    &copy; Woldryk - 2024.
    </div>
    <br>
    <div class="logos">
    <a href="https://twitter.com/WoldrykDev" target="_blank"><img src="/twitter.svg" class="w-6" alt="logo-twitter"></a>
    <a href="https://discord.gg/EUtMdNd4mq" target="_blank"><img src="/discord.svg" class="w-6" alt="logo-discord"></a>
    <a href="https://t.me/+WZm9KNxhY_M5NDNh" target="_blank"><img src="/telegram.svg" class="w-6" alt="logo-telegram">
    </div>

    <style>
        .footer-legal {
            font-weight: 300;
            color: white;
            padding: 20px 0;
            font-size: 12px;
}
.logos{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
    </style>